* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #EF5F4C;
  --background-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparencey: #ffffff91;
  --text-color-primary: #323232;
  --text-color-secondary: #6c6c6c;

  --font-family: "Poppings", sans-serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text: 16px/150% var(--font-family);
  --text-md: 14px/175% var(--font-family);
  --text-sm: 12px/175% var(--font-family);
}

body {
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}

a {
  text-decoration: none; /* para tirar o unerline */
  color: inherit; /* para a cor princiopal do pai de <a> */
}

a:hover { /* para quando passar o mouse sobre <a> mudar a cor */
  color: var(--brand-color);
  text-decoration: underline;
}

.container { /* para inserir informações/caracteristicas que estarão presentes em todo o projeto */
  padding-inline: 32px; /* aceita dois valores, um ele considerara para os dois lados e dois um para cada lado */
  max-width: 1280px;
  margin-inline: auto; /* para alinhar todo o conteudo no meio da página */
}

.bg-surface-color { /* para iserir a cor na <div> que esta ao redor do <nav> */
  background-color: var(--surface-color);
}